@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    One Newsite Way<br />
    Easter Island, ↑ ↑ ↓ ↓ ← → ← → B A<br />
    <abbr title="Phone">P:</abbr>
    555.555.0010
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:Support@newsite.wtf">Support@newsite.wtf</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@newsite.wtf">Marketing@newsite.wtf</a>
</address>